.header-top
	.container
		.col
			+content-block('color: rgb(212, 212, 212);','225678 Республика Беларусь, г.Дрогичин ул.Ленина 202')
		.col
			+content-block('color: rgb(212, 212, 212);','формаконадзор')
		.col
			+content-block('color: rgb(212, 212, 212);','вход для клиентов')
		.col.mod_posa-right
			+content-block('','ru-eng')
		
.header-botton
	.container
		// левое крыло
		.col.header-bottom__left-wing
			.col
				+content-block('','Каталог продукции')
			.col
				+content-block('','О компании')
			.col
				+content-block('','Новости')
		// центр
		.header-bottom__center
			.col.header-bottom__center-logo
				+content-block('height: 50px','Логотип')
				.col.header-bottom__center-logo-title
					.header-bottom__center-logo-title-box
						+content-block('','ОАО "ЭКЗОН"')
		// правое крыло
		.col.header-bottom__right-wing
			.col
				+content-block('','Партнерам')
			.col
				+content-block('','Контакты')
			.col
				+content-block('','Онлайн заявка')
