// Подключение скриптов 

// jQuery 
script(src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous")

// Скрипт 1 
script(src="")

// Скрипт 2 
script(src="")

// Скрипт 3 
script(src="")

// /Подключение скриптов 

// !плагин LiveReload. по завершении разработки - удалить!
script(src="http://localhost:35729/livereload.js")
